{% extends 'layout.twig' %}

{% block body %}
	<div class="container mt-5 mb-2">
		<h1>{{title}}</h1>
		<p>Welcome to
			{{title}}</p>
		{% if categories %}
			<div class="row category-list">
				{% for category in categories %}
					<div class="card col-md-6 col-lg-3 mb-4" style="width: 18rem;">

						<div class="card-body">
							<a href="/category/{{category._id}}"><img class="img-categ-list" src="{{category.image}}" alt="{{category.image}}"></a>
							<h5 class="card-title">{{category.title}}</h5>
							<h5 class="card-title">{{category.description}}</h5>
							{# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
							<a href="/category/edit-category/{{category._id}}" class="btn btn-success">Edit
							</a>
							<a href="/category/delete-category/{{category._id}}" class="btn btn-danger">Delete
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
			<a href="/category/add-category" class="btn btn-primary mt-2">Add Category</a>
		{% else %}
			<p>Sorry, you don't have any category !
			</p>
			<a href="/category/add-category" class="btn btn-primary mt-2">Add Category</a>
		{% endif %}

	</div>
{% endblock %}
