{% extends "layout.twig" %}
{% block body %}
	<div class="container mt-5 mb-2">
		<h1>Register</h1>
		<form action="" method="POST">
			<p class="text-center">You don't have an account ?
				<a href="/users/login">please click here to login !</a>
			</p>
			<div class="form-outline mb-3">
				<input type="text" name="username" class="form-control">
				<label class="form-label" for="username">Username :
				</label>
			</div>
			{% for error in errorForm %}
				{% if error.username %}
					<div class="error mb-2">{{ error.username.message }}</div>
				{% endif %}
			{% endfor %}
			<div class="form-outline mb-3">
				<input type="text" name="firstname" class="form-control">
				<label class="form-label" for="firstname">Firstname :
				</label>
			</div>
			{% for error in errorForm %}
				{% if error.firstname %}
					<div class="error mb-2">{{ error.firstname.message }}</div>
				{% endif %}
			{% endfor %}
			<div class="form-outline mb-3">
				<input type="text" name="lastname" class="form-control">
				<label class="form-label" for="firstname">Lastname :
				</label>
			</div>
			{% for error in errorForm %}
				{% if error.lastname %}
					<div class="error mb-2">{{ error.lastname.message }}</div>
				{% endif %}
			{% endfor %}
			<div class="form-outline mb-3">
				<input type="email" name="email" class="form-control">
				<label class="form-label" for="email">Email :
				</label>
			</div>
			{% for error in errorForm %}
				{% if error.email %}
					<div class="error mb-2">{{ error.email.message }}</div>
				{% endif %}
			{% endfor %}
			<div class="form-outline mb-3">
				<input type="password" name="password" class="form-control">
				<label class="form-label" for="password">Password :
				</label>
			</div>
			{% for error in errorForm %}
				{% if error.password %}
					<div class="error mb-2">{{ error.password.message }}</div>
				{% endif %}
			{% endfor %}
			<div class="form-outline mb-3">
				<input type="password" name="passwordConfirm" class="form-control">
				<label class="form-label" for="passwordConfirm">Repeat Password :
				</label>
			</div>
			{% for error in errorForm %}
				{% if error.passwordConfirm %}
					<div class="error mb-2">{{ error.passwordConfirm.message }}</div>
				{% endif %}
			{% endfor %}
			<button type="submit" class="btn btn-success mt-3">Sign in</button>
		</form>
	</div>

{% endblock %}
