{% extends 'layout.twig' %}
{% block body %}
	<div class="container mt-5" style="width: 100%;">
		<img src="{{article.image}}" width="1800" height="400" class="card-img-top" alt="{{article.image}}">
		<div class="card-body">
			<h5 class="card-title">{{article.title}}</h5>
			<p>
				<strong>
					Published At
				</strong>
				{{article.publishedAt  | date("d-m-y h:m:s")}}</p>
			<hr>
			<p class="card-text">{{article.content}}</p>
			<a href="/" class="btn btn-primary">back to home</a>
			<hr>
		</div>
	</div>

{% endblock %}
